# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python cache
.pytest_cache/

# Sistema
.DS_Store
Thumbs.db

# SQLite temporales
*.db-journal